.sizeImg{
  width: 50px;
}


.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }


.ContainerComments{
    margin: 1% 25%;
    padding: 20px;
    background-color: #7A91BD;
}

.inputComments{
    background-color: #7FB1A8;
    padding: 15px;
    margin-bottom: 15px;
}
.inputs{
    margin: 5px;
}